<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Index</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/main.css">
</head>
<body>
    <div id="learn">
        <section class="card">
            <h2>HTTP Server Kelompok 2 - Pemograman Jaringan</h2>
            <samp>Sandy , Robi , Wafia , Urwah , Urwah U</samp>
        </section>
        <div class="container">
            <a style="color: #000000;" href="http://localhost"><div><span>Index</span></div></a>
            <a style="color: #FF9F9F;" href="http://localhost/kuronekosan"><div><span>Kuronekosan!</span></div></a>
            <a style="color: #4CAF50;" href="http://localhost/goodbye"><div><span>Goodbye</span></div></a>
        </div>
    </div>
</body>
</html>