<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Kuroneko</title>
    <link rel="shortcut icon" type="image/x-icon" href="assets/logo.png" />
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Open+Sans|Merriweather" rel="stylesheet">
    <link rel="stylesheet" href="assets/main.css">
</head>
<body>
    <header>
        <a href="http://kuronekosan.web.id">Kuro<span>neko</span></a>
    </header>
    <main>
        <div id="kotak">
            <section class="card">
                <span><strong>Hello World</strong></span>
                <br><samp>document.writeln("Hello World");</samp><br>
                <h3>Hi, My name is Sandy Maulana, just call me Kuroneko. Nice to meet u!</h3>
            </section>
        </div>
        <h3 class="basabasi">This is just a personal website, based on HTML and CSS</h3>
        <div id="aboutme">
            <img src="https://scontent.fsub8-1.fna.fbcdn.net/v/t1.0-9/51433336_2234082846613182_1091275246301872128_n.jpg?_nc_cat=101&_nc_ht=scontent.fsub8-1.fna&oh=f528ab6d55c4b923874500bd66b69ab6&oe=5D218728" alt="stupid-face" class="profil-image">
            <h1>Sandy Maulana</h1>
            <p>Universitas Teknologi Sumbawa</p>
            <div class="lol">
                    <h4>The Lazy Boy at Dawn</h4>
                    <span>"I love coffee with some cigar at dawn, </span>
                    <span>if u know me irl please dont hate me, </span>
                    <span>cuz i dont understand people feeling lol."</span>
            </div>
            <div class="skillz">
                <span><i>What I always do in my life lol</i></span>
                    <ul class="chart" style="padding-left: 0px;margin-top:50px;margin-bottom: 120px;">
                            <li>
                                <span style="height:90%;" title="Sleep"></span>
                            </li>
                            <li>
                                <span style="height:70%;" title="Crying"></span>
                            </li>
                            <li>
                                <span style="height:80%;" title="Annoying Other People"></span>
                            </li>
                            <li>
                                <span style="height:100%;" title="Sloth"></span>
                            </li>
                    </ul>
            </div>    
        </div>
        <div id="learn">
            <h2>My recommended place for doing shits.</h2>
            <div class="container">
                <a style="color: #4CAF50;" href="https://www.w3schools.com"><div><span>w3schools</span></div></a>
                <a style="color: darkgreen;" href="https://www.freecodecamp.org"><div><span>freecodecamp</span></div></a>
                <a style="color: teal;" href="https://www.petanikode.com"><div><span>petanikode</span></div></a>
                <a style="color: #1e1f26;" href="https://codepen.io"><div><span>codepen</span></div></a>
            </div>
        </div>
    </main>
    <footer>
        <span>Find me on: </span>
        <div class="logo">
            <a href="https://www.facebook.com/kurikurayaku"><img src="assets/facebook-logo.png" alt="Facebook" ></a>
            <a href="https://github.com/SandyMaull"><img src="assets/github-logo.png" alt="Github" ></a>
            <a href="mailto:sandymaulana0@gmail.com?Subject=Hello%20Sandy!"><img src="assets/gmail-logo.png" alt="Gmail" ></a>
            <a href="http://line.me/ti/p/~sandy-m"><img src="assets/line-logo.png" alt="Line" ></a>
            <a href="https://api.whatsapp.com/send?phone=6282260879023&text=Hello%20Sandy!"><img src="assets/wa-logo.png" alt="Whatsapp"></a>
        </div>
    </footer>
</body>
</html>